* {margin: 0; padding: 0}
html {width: 100%; height: 100%}
canvas {display: block; background-color: #666666}
html{
    font-family: sans-serif;
    background: url("../img/menu-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#preloader {
    text-align: center;
    background: url("../img/menu-bg.jpg") #fff;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    opacity: 1;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    font-size: 2em;
    font-family: sans-serif;
    color: #ddd;
    text-shadow: 1px 1px 10px #000;
}
#preloader p {
    padding: 150px;
}
#overlay {
    display: none;
    transition: background-color 0.5s ease;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 3;
}
#popup {
    margin: 80px auto;
    width: 500px;
    max-height: 60%;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    border: 1px solid #aaa;
}
#popup p {
    padding: 10px;
}
.menu {
    display: none;
    text-align: center;
}
#main_menu p {
    margin-top: 100px;
}
#back_button, #back_to_maps_button {
    padding: 10px;
    display: none;
}
#steering_info {
    display: none;
    margin: 50px auto 0 auto;
    width: 800px;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    border: 1px solid #aaa;
    text-align: center;
}
#steering_info p {
    font-size: 2em;
    color: #444;
}
#steering_info a, #steering_info .steering_button {
    cursor: pointer;
}
#steering_info a:hover{
    text-decoration: underline;
}
#steering_info .steering_button{
    padding: 0 60px;
}
.menuButton {
    text-align: center;
    display: block;
    margin: 30px auto;
    width: 300px;
    opacity: 0.9;
    border: 1px solid #000;
    background-color: #eee;
    padding: 5px 1px;
    color: #000;
    text-decoration: none;
}
.menuButton:hover {
    background-color: #ddd;
}
#story_menu {
    margin-top: 50px;
}
#story_menu .chapter {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #666;
}
#story_menu .locked {
    background: url("../img/padlock.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#story_menu .levelButton {
    display: inline-block;
    line-height: 100px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 4px #000;
    border: 1px solid #666;
    width: 100px;
    height: 100px;
    margin: 5px;
}
#story_menu .levelButton:hover{
    background-color: rgba(0,0,0,0.2);
}
#car_info, #map_info {
    background-color: rgba(255,255,255,0.8);
    width: 300px;
    border: 1px solid #666;
    margin: auto;
    padding: 20px 5px;
    text-align: left;
}
#car_info option, #map_info option {
    text-align: right;
}
#car_info p {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 200px;
}
#car_info progress, #car_info select, #map_info select{
    width: 200px;
}

#options_menu label {
    width: 220px;
    display: inline-block;
    vertical-align: top;
}
#stats_menu .time{
    font-weight: bold;
}
#stats_menu label {
    width: 220px;
    display: inline-block;
    vertical-align: top;
}
#submit_highscores {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #666;
    padding: 10px;
    margin: 20px 20px 20px 350px;
}
#submit_highscores .challenge {
    background-color: rgba(250,0,0,0.5);
}
#submit_highscores .highlighted {
    background-color: rgba(250,200,0,0.5);
}
#submit_highscores table {
    margin: 20px 0;
    border-spacing: 0;
    width: 100%;
}
#submit_highscores .time_column {
    width: 150px;
}
#submit_highscores .place_column {
    width: 150px;
}
#stats_text .race {
    font-weight: bold;
    color: #00a;
}
#stats_text .lap {
    font-weight: bold;
}
#stats_text .lap ol {
    font-weight: normal;
}
#stats_text .bestLap {
    color: #dd0000;
}
#stats_menu ol li ol li label {
    padding-left: 20px;
    width: 200px;
}
#stats_menu ol li ol li {
    font-size: smaller;
}
#stats_text {
    float: left;
    padding: 10px;
    margin: 100px 20px 20px;
    width: 300px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #666;
    margin: 0 0 0 20px;
    text-align: left;
}
#car_info label, #map_info label{
    width: 90px;
    display: inline-block;
    vertical-align: top;
}
#maps_menu {padding-bottom: 20px}
a {text-decoration: none; color: #333}
li {list-style-type: none}

.challenge_your_friends {
    margin: 5px 0;
}

